#hero
  %h1
    Welcome. We are
    %span.orange
      Foundry94.
    %small.gray
      We're a technology shop that specializes in web development.

#services
  %h3.divider-title.orange
    %span
      Services
  .column3
    %img{:src => '/images/development.png'}
    %h2.gray
      Development
    %p
      We turn your idea into a finished product.
      Rest easy - our technology experience will ensure your product
      is built right the first time. Want a mobile solution? We can do that too.

  .column3
    %img{:src => '/images/cto.png'}
    %h2.gray
      Part-time CTO
    %p
      Javascript, hosting, APIs? Overwhelmed with technology questions?
      We'll answer and resolve your technology questions so that you can
      get back to running your business.
  .column3
    %img{:src => '/images/launch.png'}
    %h2.gray
      Product Launch
    %p
      We're a long term partner. We'll build your product and continue working with you to 
      help launch, grow, and scale your business.
.clearfix

#work
  %h3.divider-title.orange
    %span
      Recent Work
  .column3
    %a{:href => 'http://www.picketreport.com'}
      %img{:src => '/images/picket.png'}
    %h2.gray
      %a.gray{:href => 'http://www.picketreport.com'}
        Picket Report
    %p.tags.blue
      Ruby on Rails, Javascript, Google Maps API, Chargify
    %p
      An online neighborhood research tool for real estate agents and those relocating.
  .column3
    %a{:href => 'http://www.carecontent.com'}
      %img{:src => '/images/carecontent.png'}
    %h2.gray
      %a.gray{:href => 'http://www.carecontent.com'}
        Care Content
    %p.tags.blue
      Ruby on Rails, custom admin
    %p
      Web app providing an online reserve of content for health system subscribers.
  .column3
    %a{:href => 'http://ehomescore.com'}
      %img{:src => '/images/ehomescore-site.png'}
    %h2.gray
      %a.gray{:href => 'http://ehomescore.com'}
        eHomeScore
    %p.tags.blue
      Ruby on Rails, custom admin, Twitter Bootstrap
    %p
      A tool for contractors to score homes and generate reports on a home's health.
.clearfix
#logo-adjust
  %a{:href => 'http://www.wedit.com'}
    %img{:src => '/images/wedit.png'}
  %a{:href => 'http://www.devdet.com'}
    %img{:src => '/images/devdet.png'}
  %a{:href => 'http://www.coursehack.it'}
    %img{:src => '/images/coursehack.png'}
  %a{:href => 'http://www.theurbanworm.com'}
    %img{:src => '/images/urbanworm.png'}

#about  
  %h3.divider-title.orange
    %span
      About
  -#%h2.orange
    -#&#58;foundry  
    -#%span.gray
      -#\=&#62; a workshop 
  -#%h2.orange
    -#&#58;94 
    -#%span.gray
      -#\=&#62; thousands of square miles of Great Lakes surface area
  #about-photo
    %img{:src => '/images/great-lakes.jpg'}
  %p
    We're a team of experienced technologists excited about building innovative products. We do our work
    within the heart of Detroit and are passionate about the Great Lakes region. Send us an email to 
    %a.blue{:href => 'mailto:hello@foundry94.com'}
      get in touch.
    Let's work together.



